.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

img {
    width: 2vw;
}

a {
    padding: 4%;
}

@media all and (max-width: 600px) {
    .footer {
        border-radius: 0;
    }
    img {
        width: 9vw;
    }

}